
h1 {
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 140px;
    color: maroon;
    text-align: center;
    margin: 3ex;
}

h2 {
    font-size: 120px;
    padding-top: 80px;
    padding-bottom: 20px;
    color: maroon;
    text-align: center;
}

h3 {
    padding: 80px;
    font-size: 65px;
    text-align: center;
}

h4 {
    padding-top: 10px;
    font-size: 40px;
    font-weight: bold;
}

#intro-text, #seas-more-context-text,
#seas-vs-others-text, #seas-growth-text,
#dib-matters-text, #seas-future-text {
    font-size: 50px;
    color: white;
    font-style: italic;
    padding: 60px;
}

#historical-context{
    font-size: 28px;
    padding: 45px
}

.general-text {
    font-size: 35px;
    color: black;
    padding: 80px;
}

.vis-text {
    color: black;
    font-size: 40px;
    padding: 30px;

}

.vis-explanation {
    color: black;
    padding: 10px;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.vis-title {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}

.vis-footnote {
    color: #303030;
    padding: 10px;
    font-size: 30px;
    font-style: italic;
    text-align: center;

}

img {
    padding-top: 10px;
    padding-bottom: 10px;
}

h1, h2, h3 {
    font-family: Verdana;
    font-weight: bolder;
    text-align: center;
}

p {
    font-family: "Times New Roman";
}

.tooltip-circle {
    fill: #96AB96;
}


.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

#sunburst {
    text-align: center;
}

.bar {
    fill: #ff0000;
}

.newBar {
    fill: #f98425;
}

.axis {
    font: 20px sans-serif;
    fill: #333;
}


.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.x-axis {
    font-size: 25px;
}

.x-axis path {
    display: none;
}

.axis-title {
    font-size: 25px;
}

#genderBarChart {
    text-align: center;
}

#slider {
    width: 25%;
}

#about_us {
    padding-bottom: 80px;
}

#customize-title {
    padding-top: 60px;
    padding-bottom: 10px;
}

#sunburst {
    padding-bottom: 20px;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.slope-line {
    stroke: #330500;
    stroke-width: 2px;
    stroke-linecap: round;
}

.slope-label-left, .slope-label-right {
    font-size: 20px;
    cursor: default;
    font-weight: 400;
}

.label-figure {
    font-weight: 700;
}

.border-lines {
    stroke: #b3504b;
    stroke-width: 1px;
}

.voronoi path {
    fill: none;
    pointer-events: all;
}

circle {
    fill: white;
    stroke: #b3504b;
    stroke-width: 2px;
}