
h1 {
    padding-top: 100px;
    padding-bottom: 10px;
    color: maroon;
    text-align: center;
}

h2 {
    padding-top: 80px;
    padding-bottom: 20px;
    color: maroon;
    text-decoration: underline;
    text-align: center;
}

h3 {
    padding-bottom: 80px;
    text-align: center;
}

h4 {
    padding-top: 10px;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
}

h1, h2, h3, h4 {
    font-family: Verdana;
    font-weight: bolder;
}

p {
    font-family: "Times New Roman";
}

.tooltip-circle {
    fill: #96AB96;
}

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

#sunburst {
    text-align: center;
}

.bar {
    fill: #b3504b;
}

.newBar {
    fill: #f9abb5;
}

.axis {
    font: 10px sans-serif;
    fill: #333;
}

.axis-title {
    fill: #9C8B83;
    font-size: 11px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.x-axis {
    font-size: 12px;
}

.x-axis path {
    display: none;
}

#genderBarChart {
    text-align: center;
}

#slider {
    width: 25%;
}

#about_us {
    padding-bottom: 80px;
}

#customize {
    padding-top: 60px;
    padding-bottom: 30px;
}